# ASP.NET Core runtime
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://0.0.0.0:8080

# Database
ConnectionStrings__DefaultConnection="Host=localhost;Port=5432;Database=postgres;Username=postgres;Password=admin"

# Telegram bot
TelegramBot__Token=YOUR_TELEGRAM_BOT_TOKEN
TelegramBot__WebhookBaseUrl={{DOMAIN_URL}}/telegram/webhook

# API Domain
API_DOMAIN=expense-tracker-api.kishan-vaghamashi.localhost #local
# API_DOMAIN=expense-tracker-api.kishan-vaghamashi.engineer #production

# JWT
JWT__ISSUER="wealthify-api"
JWT__SECRET_TOKEN="replace-with-a-long-random-secret-key-at-least-32-chars"
JWT__EXPIRY_MINUTES="60"